.Carousel {
    width: 1000px;
    height: 250px;
    overflow: hidden;
    position: relative;

    &-Wrapper {
        position: absolute;

        li {
        width: 1000px;
        height: 250px;
        border: 1px solid $color-whitegray;
        box-sizing: border-box;
        float: left;
        }
    }

 &-Button {
    background-repeat: no-repeat;
    height:100%;
    position:absolute;
    background: $color-whitegray;
    opacity: .7;
    cursor: pointer;
    display: table;
    height: 100%;

    i{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: $color-gray;
    font-size: 40px;

    }

    &-Prev {
        left: 0;
    }

    &-Next {
        right: 0;
    }
  }
}